*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: 'Bellefair', serif;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
:root{
    --main-balck: #0B0D17;
    --main-white: #FFFFFF;
    --main-blue: #D0D6F9;
}
body{
    width: 100%;
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
}
.main-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 40px;
}
header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo img{
    max-height: 100%;
}
header nav{
    background-color: #ffffff11;
    backdrop-filter: blur(7px);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    height: 100%;
}
header nav ul li a{
    color: var(--main-white);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}
header nav ul li a span{
    margin-right: 2.5px;
    font-weight: bold;
    letter-spacing: 2px;
}
header nav::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    background-color: var(--main-white);
    top: 50%;
    left: 0px;
    transform: translate(calc(-100% + 20px), -50%);
}
header nav ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header nav ul li a::before{
    position: absolute;
    content: "";
    height: 3px;
    background-color: var(--main-white);
    bottom: 0;
    width: 0%;
    left: 50%;
    transition: .3s;
    transform: translateX(-50%);
}
header nav ul li a.active-page::before{
    width: 100%;
}
header nav ul li a:hover::before{
    width: 100%;
}
@media (max-width: 1200px) {
    header nav ul li a{
        font-size: 18px;
    }
}
@media (max-width: 1100px) {
    header nav::before{
        display: none;
    }
}
@media (max-width: 1000px) {
    
}
.container{
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .home-text{
    color: var(--main-white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
.container .home-text h3{
    font-size: 30px;
    font-weight: 400;
}
.container .home-text h1{
    font-size: 160px;
    font-weight: 400;
}
.container .home-text p{
    font-size: 19px;
    width: 500px;
    line-height: 1.5;
}
.container .home-explore {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .home-explore a{
    text-decoration: none;
    color: var(--main-balck);
    background-color: var(--main-white);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    position: relative;
}
.container .home-explore a::before{
    content: "";
    position: absolute;
    background-color: #ffffff5e;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .3s;
    z-index: -1;
}
.container .home-explore a:hover::before{
    width: calc(100% + 100px);
    height: calc(100% + 100px);
}

/* start of tablet size styling */
@media (max-width: 1000px) {
    body{
        background-image: url(../assets/home/background-home-tablet.jpg);
    }
    header nav a span{
        display: none;
    }
    header nav a{
        font-size: 16px;
    }
    header nav{
        width: 65%;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .container .home-text{
        width: 80%;
        align-items: center;
        text-align: center;
        height: 60%;
        justify-content: center;
    }
    .container .home-explore{
        width: 80%;
        height: 40%
    }
}
/* start styling of mobile size */
.mobile-menu,
.menu-button{
    display: none;
}
@media (max-width: 767px) {
    body{
        background-image: url(../assets/home/background-home-mobile.jpg);
    }
    header nav{
        display: none;
    }
    .mobile-menu,
    .menu-button{
        display: inline-block;
    }
    .menu-button {
        z-index: 1001;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-button img{
        width: 46px;

    }
    header{
        padding: 10px 20px 0px 20px;
        margin-top: 0px;
        height: 80px;
    }
    body .mobile-menu{
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #ffffff12;
        backdrop-filter: blur(50px);
        width: 70%;
        z-index: 100;
        padding: 150px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        list-style: none;
        transition: .3s;
    }
    body .mobile-menu li{
        width: 100%;
        padding:  0px 0px 0px 20px;
        position: relative;
        display: flex;
    }
    body .mobile-menu li a{
        color: var(--main-white);
        text-decoration: none;
        font-size: 22px;
        width: 100%;
        font-weight: 200;
    }
    body .mobile-menu li a span{
        margin-right: 10px;
        font-size: 25px;
        font-weight: bold;
    }
    body .mobile-menu li a.active-page{
        border-right: 4px solid var(--main-white);
    }
    .mobile-menu{
        transform: translateX(100%);
    }
}
@media (max-width: 560px) {
    .container .home-text{
        max-width: 100%;
        gap: 10px;
    }
    .container .home-text h3{
        font-size: 20px;
    }
    .container .home-text h1{
        font-size: 100px;
    }
    .container .home-text p{
        width: 100%;
    }
    .container .home-explore{
        width: 100%;
    }
    .container .home-explore a{
        width: 200px;
        height: 200px;
        font-size: 35px;
    }
    .container .home-explore a:hover::before{
        width: calc(100% + 50px);
        height: calc(100% + 50px);
    }
    .main-container .menu-button img{
        width: 30px;
    }
}